<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.monitor.business.mapper.AlarmMapper">
	<resultMap id="BaseResultMap" type="com.zhongda.monitor.business.model.Alarm">
		<id column="alarm_id" jdbcType="INTEGER" property="alarmId" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="project_id" jdbcType="INTEGER" property="projectId" />
		<result column="project_name" jdbcType="VARCHAR" property="projectName" />
		<result column="monitor_point" jdbcType="VARCHAR" property="monitorPoint" />
		<result column="smu_number" jdbcType="VARCHAR" property="smuNumber" />
		<result column="smu_channel" jdbcType="VARCHAR" property="smuChannel" />
		<result column="sensor_number" jdbcType="VARCHAR" property="sensorNumber" />
		<result column="alarm_type" jdbcType="INTEGER" property="alarmType" />
		<result column="alarm_context" jdbcType="VARCHAR" property="alarmContext" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="alarm_status" jdbcType="INTEGER" property="alarmStatus" />
		<result column="alarm_level" jdbcType="INTEGER" property="alarmLevel" />
		<result column="frequency" jdbcType="INTEGER" property="frequency" />
	</resultMap>
	<resultMap id="alarmTypeNametMap" type="com.zhongda.monitor.business.model.Alarm"
		extends="BaseResultMap">
		<result column="real_name" jdbcType="VARCHAR" property="realName" />
		<result column="alarm_type_name" jdbcType="VARCHAR" property="alarmTypeName" />
		<result column="alarm_status_name" jdbcType="VARCHAR" property="alarmStatusName" />
	</resultMap>
	<sql id="Base_Column_List">
		alarm_id, user_id, user_name, project_id, project_name,
		monitor_point,
		smu_number,
		smu_channel, sensor_number, alarm_type,
		alarm_context, create_time, alarm_status,
		alarm_level, frequency
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from alarm
		where alarm_id = #{alarmId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from alarm
		where alarm_id = #{alarmId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.zhongda.monitor.business.model.Alarm">
		insert into alarm (alarm_id,
		user_id, user_name,
		project_id, project_name, monitor_point,
		smu_number, smu_channel, sensor_number,
		alarm_type, alarm_context,
		create_time,
		alarm_status, alarm_level, frequency
		)
		values
		(#{alarmId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
		#{userName,jdbcType=VARCHAR},
		#{projectId,jdbcType=INTEGER},
		#{projectName,jdbcType=VARCHAR}, #{monitorPoint,jdbcType=VARCHAR},
		#{smuNumber,jdbcType=VARCHAR}, #{smuChannel,jdbcType=VARCHAR},
		#{sensorNumber,jdbcType=VARCHAR},
		#{alarmType,jdbcType=INTEGER},
		#{alarmContext,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{alarmStatus,jdbcType=INTEGER}, #{alarmLevel,jdbcType=INTEGER},
		#{frequency,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.zhongda.monitor.business.model.Alarm">
		insert into alarm
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="alarmId != null">
				alarm_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="projectId != null">
				project_id,
			</if>
			<if test="projectName != null">
				project_name,
			</if>
			<if test="monitorPoint != null">
				monitor_point,
			</if>
			<if test="smuNumber != null">
				smu_number,
			</if>
			<if test="smuChannel != null">
				smu_channel,
			</if>
			<if test="sensorNumber != null">
				sensor_number,
			</if>
			<if test="alarmType != null">
				alarm_type,
			</if>
			<if test="alarmContext != null">
				alarm_context,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="alarmStatus != null">
				alarm_status,
			</if>
			<if test="alarmLevel != null">
				alarm_level,
			</if>
			<if test="frequency != null">
				frequency,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="alarmId != null">
				#{alarmId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=INTEGER},
			</if>
			<if test="projectName != null">
				#{projectName,jdbcType=VARCHAR},
			</if>
			<if test="monitorPoint != null">
				#{monitorPoint,jdbcType=VARCHAR},
			</if>
			<if test="smuNumber != null">
				#{smuNumber,jdbcType=VARCHAR},
			</if>
			<if test="smuChannel != null">
				#{smuChannel,jdbcType=VARCHAR},
			</if>
			<if test="sensorNumber != null">
				#{sensorNumber,jdbcType=VARCHAR},
			</if>
			<if test="alarmType != null">
				#{alarmType,jdbcType=INTEGER},
			</if>
			<if test="alarmContext != null">
				#{alarmContext,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="alarmStatus != null">
				#{alarmStatus,jdbcType=INTEGER},
			</if>
			<if test="alarmLevel != null">
				#{alarmLevel,jdbcType=INTEGER},
			</if>
			<if test="frequency != null">
				#{frequency,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zhongda.monitor.business.model.Alarm">
		update alarm
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				project_id = #{projectId,jdbcType=INTEGER},
			</if>
			<if test="projectName != null">
				project_name = #{projectName,jdbcType=VARCHAR},
			</if>
			<if test="monitorPoint != null">
				monitor_point = #{monitorPoint,jdbcType=VARCHAR},
			</if>
			<if test="smuNumber != null">
				smu_number = #{smuNumber,jdbcType=VARCHAR},
			</if>
			<if test="smuChannel != null">
				smu_channel = #{smuChannel,jdbcType=VARCHAR},
			</if>
			<if test="sensorNumber != null">
				sensor_number = #{sensorNumber,jdbcType=VARCHAR},
			</if>
			<if test="alarmType != null">
				alarm_type = #{alarmType,jdbcType=INTEGER},
			</if>
			<if test="alarmContext != null">
				alarm_context = #{alarmContext,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="alarmStatus != null">
				alarm_status = #{alarmStatus,jdbcType=INTEGER},
			</if>
			<if test="alarmLevel != null">
				alarm_level = #{alarmLevel,jdbcType=INTEGER},
			</if>
			<if test="frequency != null">
				frequency = #{frequency,jdbcType=INTEGER},
			</if>
		</set>
		where alarm_id = #{alarmId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zhongda.monitor.business.model.Alarm">
		update alarm
		set
		user_id = #{userId,jdbcType=INTEGER},
		user_name =
		#{userName,jdbcType=VARCHAR},
		project_id =
		#{projectId,jdbcType=INTEGER},
		project_name =
		#{projectName,jdbcType=VARCHAR},
		monitor_point =
		#{monitorPoint,jdbcType=VARCHAR},
		smu_number =
		#{smuNumber,jdbcType=VARCHAR},
		smu_channel =
		#{smuChannel,jdbcType=VARCHAR},
		sensor_number =
		#{sensorNumber,jdbcType=VARCHAR},
		alarm_type =
		#{alarmType,jdbcType=INTEGER},
		alarm_context =
		#{alarmContext,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		alarm_status =
		#{alarmStatus,jdbcType=INTEGER},
		alarm_level =
		#{alarmLevel,jdbcType=INTEGER},
		frequency =
		#{frequency,jdbcType=INTEGER}
		where alarm_id =
		#{alarmId,jdbcType=INTEGER}
	</update>
	<select id="selectPageAlarmByQuery" parameterType="java.lang.Integer"
		resultMap="alarmTypeNametMap">
		SELECT A.alarm_id, U.real_name, A.project_id, A.project_name,
		A.monitor_point, A.smu_number
		, A.sensor_number,
		CASE A.alarm_type WHEN
		1 THEN '数据类告警' when 2 then '设备类告警' ELSE '其他类告警' END
		AS
		'alarm_type_name', A.alarm_context, A.create_time,
		CASE A.alarm_status
		WHEN 0 THEN '未确认' WHEN 1 THEN '已确认' ELSE '数据异常' END AS
		'alarm_status_name'
		FROM alarm A, user U WHERE U.user_name =
		A.user_name

		<if test="userId != null">
			and A.user_id = #{userId,jdbcType=INTEGER}
		</if>
		<if test="userName != null">
			and A.user_name = #{userName,jdbcType=VARCHAR}
		</if>
		<if test="projectName != null">
			and A.project_name = #{projectName,jdbcType=VARCHAR}
		</if>
		<if test="monitorPoint != null">
			and A.monitor_point = #{monitorPoint,jdbcType=VARCHAR}
		</if>
		<if test="smuNumber != null">
			and A.smu_number = #{smuNumber,jdbcType=VARCHAR}
		</if>
		<if test="sensorNumber != null">
			and A.sensor_number = #{sensorNumber,jdbcType=VARCHAR}
		</if>
		<if test="alarmType != null">
			and A.alarm_type = #{alarmType,jdbcType=INTEGER}
		</if>
		<if test="alarmContext != null">
			and A.alarm_context = #{alarmContext,jdbcType=VARCHAR}
		</if>
		<if test="startCreateTime != null">
			and (A.create_time &gt;= #{startCreateTime,jdbcType=TIMESTAMP})
		</if>
		<if test="endCreateTime != null">
			and (A.create_time &lt;= #{endCreateTime,jdbcType=TIMESTAMP})
		</if>
		<if test="alarmStatus != null">
			and A.alarm_status = #{alarmStatus,jdbcType=INTEGER}
		</if>
		<if test="alarmLevel != null">
			and A.alarm_level = #{alarmLevel,jdbcType=INTEGER}
		</if>
		ORDER BY create_time desc
	</select>

	<update id="updateAlarmStatusByAlarmId">
		update alarm
		set alarm_status = 1
		where alarm_id =
		#{alarmId,jdbcType=INTEGER}
	</update>
	<delete id="deleteAlarm" parameterType="com.zhongda.monitor.business.model.Alarm">
		delete from alarm
		<where>
			alarm_status = 1
			<if test="userId != null">
				and user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="userName != null">
				and user_name = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="projectName != null">
				and project_name = #{projectName,jdbcType=VARCHAR}
			</if>
			<if test="monitorPoint != null">
				and monitor_point = #{monitorPoint,jdbcType=VARCHAR}
			</if>
			<if test="smuNumber != null">
				and smu_number = #{smuNumber,jdbcType=VARCHAR}
			</if>
			<if test="sensorNumber != null">
				and sensor_number = #{sensorNumber,jdbcType=VARCHAR}
			</if>
			<if test="alarmType != null">
				and alarm_type = #{alarmType,jdbcType=INTEGER}
			</if>
			<if test="alarmContext != null">
				and alarm_context = #{alarmContext,jdbcType=VARCHAR}
			</if>
			<if test="alarmLevel != null">
				and alarm_level = #{alarmLevel,jdbcType=INTEGER}
			</if>
		</where>
	</delete>
	<select id="alarmCount" resultType="java.lang.Integer"
		parameterType="java.lang.Integer">
		SELECT
			COUNT(alarm_id)
		FROM
			alarm
		WHERE
			 alarm_status = 0;
				<if test="userId !=null">
					and  user_id = #{userId,jdbcType=INTEGER}
				</if>
			
	</select>
</mapper>
	      