<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.monitor.business.mapper.ItemMapper">
<resultMap id="ItemMap" type="com.zhongda.monitor.business.model.fictitious.Item">
	<id column="project_id" property="project_id"/>
	<result column="project_name" property="project_name"/>
	<result column="real_name" property="real_name"/>
	<result column="project_begin_time" property="project_begin_time"/>
	<result column="project_end_time" property="project_end_time"/>
	<result column="project_type" property="project_type"/>
	<result column="project_address" property="project_address"/>
	<result column="project_description" property="project_description"/>
	<result column="project_description_" property="project_description_"/>
	<result column="project_status" property="project_status"/>
	<result column="project_alarmNum" property="project_alarmNum"/>
	<result column="project_sensorNum" property="project_sensorNum"/>
	<result column="project_smuNum" property="project_smuNum"/>
</resultMap>
<resultMap id="ItemAvgDataMap" type="com.zhongda.monitor.business.model.ItemAvgData">
	
	<result column="project_name" property="detectionTypeName"/>
	<result column="current_data1" property="avgCurrentData"/>
	<result column="current_laser_change" property="currentLaserChange"/>
	<result column="speed_change" property="speedChange"/>
	<result column="minThresholdValue" property="minThresholdValue"/>
	<result column="max_threshold_value" property="max_threshold_value"/>
	
</resultMap>
 	<select id="selectItemAvgData" resultMap="ItemAvgDataMap"   >
 			select AVG(mytable.current_data) as current_data1  ,AVG(mytable.current_laser_change) as current_laser_change,
			AVG(mytable.speed_change)*100 as speed_change,
			threshold.min_threshold_value as minThresholdValue,
			threshold.max_threshold_value  as MaxThresholdValue
			from ${_parameter.param1}  mytable  ,sensor ,threshold where sensor.project_id=#{poJoId} 
			and mytable.sensor_id=sensor.sensor_number and date(mytable.current_times)='2017-10-30'
			and threshold.project_id=sensor.project_id and threshold.threshold_type='20'
 	</select>
</mapper>