<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.monitor.business.mapper.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.monitor.business.model.Project">
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_type" jdbcType="INTEGER" property="projectType" />
    <result column="project_address" jdbcType="VARCHAR" property="projectAddress" />
    <result column="weather_address" jdbcType="VARCHAR" property="weatherAddress" />
    <result column="project_longitude" jdbcType="VARCHAR" property="projectLongitude" />
    <result column="project_latitude" jdbcType="VARCHAR" property="projectLatitude" />
    <result column="project_begin_time" jdbcType="TIMESTAMP" property="projectBeginTime" />
    <result column="project_end_time" jdbcType="TIMESTAMP" property="projectEndTime" />
    <result column="project_status" jdbcType="INTEGER" property="projectStatus" />
    <result column="project_description" jdbcType="VARCHAR" property="projectDescription" />
  </resultMap>
  <resultMap id="projectMap" type="com.zhongda.monitor.business.model.Project">
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_type" jdbcType="INTEGER" property="projectType" />
    <result column="project_address" jdbcType="VARCHAR" property="projectAddress" />
    <result column="weather_address" jdbcType="VARCHAR" property="weatherAddress" />
    <result column="project_longitude" jdbcType="VARCHAR" property="projectLongitude" />
    <result column="project_latitude" jdbcType="VARCHAR" property="projectLatitude" />
    <result column="project_begin_time" jdbcType="TIMESTAMP" property="projectBeginTime" />
    <result column="project_end_time" jdbcType="TIMESTAMP" property="projectEndTime" />
    <result column="project_status" jdbcType="INTEGER" property="projectStatus" />
    <result column="project_description" jdbcType="VARCHAR" property="projectDescription" />
    <result column="project_type_name" jdbcType="VARCHAR" property="projectTypeName" />
    <result column="project_status_name" jdbcType="VARCHAR" property="projectStatusName" />
  </resultMap>
  <resultMap id="ProCharThMap" type="com.zhongda.monitor.business.model.Project">
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_type" jdbcType="INTEGER" property="projectType" />
    <result column="project_address" jdbcType="VARCHAR" property="projectAddress" />
    <result column="weather_address" jdbcType="VARCHAR" property="weatherAddress" />
    <result column="project_longitude" jdbcType="VARCHAR" property="projectLongitude" />
    <result column="project_latitude" jdbcType="VARCHAR" property="projectLatitude" />
    <result column="project_begin_time" jdbcType="TIMESTAMP" property="projectBeginTime" />
    <result column="project_end_time" jdbcType="TIMESTAMP" property="projectEndTime" />
    <result column="project_status" jdbcType="INTEGER" property="projectStatus" />
    <result column="project_description" jdbcType="VARCHAR" property="projectDescription" />
    <result column="al_count" jdbcType="INTEGER" property="alCount" />
    <result column="item_name" jdbcType="VARCHAR" property="projectTypeName" />
    <collection property="statisticChartList" javaType="java.util.List" ofType="com.zhongda.monitor.business.model.StatisticChart">
	    <result column="detection_type_id" jdbcType="INTEGER" property="detectionTypeId" />
	    <result column="detection_type_name" jdbcType="VARCHAR" property="detectionTypeName" />
	    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
	    <association property="threshold" javaType="com.zhongda.monitor.business.model.Threshold" >
		    <result column="threshold_type" jdbcType="INTEGER" property="thresholdType" />
		    <result column="min_threshold_value" jdbcType="DOUBLE" property="minThresholdValue" />
		    <result column="max_threshold_value" jdbcType="DOUBLE" property="maxThresholdValue" />
		    <result column="min_drastic_threshold_value" jdbcType="DOUBLE" property="minDrasticThresholdValue" />
		    <result column="max_drastic_threshold_value" jdbcType="DOUBLE" property="maxDrasticThresholdValue" />
    	</association>
    </collection>
  </resultMap>
  <resultMap id="ProjectDetailMap" extends="BaseResultMap" type="com.zhongda.monitor.business.model.Project">
    <result column="project_principal" jdbcType="VARCHAR" property="projectPrincipal" />
    <result column="project_sensor_number" jdbcType="VARCHAR" property="projectSensorNumber" />
    <result column="project_smu_number" jdbcType="VARCHAR" property="projectSmuNumber" />
    <result column="al_count" jdbcType="INTEGER" property="alCount" />
    <result column="project_type_name" jdbcType="VARCHAR" property="projectTypeName" />
    <result column="project_status_name" jdbcType="VARCHAR" property="projectStatusName" />
     <result column="project_longitude" jdbcType="VARCHAR" property="projectLongitude" />
      <result column="project_latitude" jdbcType="VARCHAR" property="projectLatitude" />
  </resultMap>
  <sql id="Base_Column_List">
    project_id, project_name, project_type, project_address, weather_address, project_longitude, project_latitude, 
    project_begin_time, project_end_time, project_status, project_description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project
    where project_id = #{projectId,jdbcType=INTEGER}
  </select>
  <select id="selectSearchBymanage" resultMap="projectMap">
  	select pr.*,sc.item_name as project_type_name,sys.item_name as project_status_name from project pr LEFT JOIN sys_code sc on pr.project_type=sc.sc_id LEFT JOIN sys_code sys on project_status=sys.sc_id where
  	 project_id like concat('%',#{condition,jdbcType=VARCHAR},'%') ||
  	 project_name like concat('%',#{condition,jdbcType=VARCHAR},'%') ||
  	 sc.item_name like concat('%',#{condition,jdbcType=VARCHAR},'%') || 
  	 project_address like concat('%',#{condition,jdbcType=VARCHAR},'%') ||
  	 DATE_FORMAT(project_begin_time,'%Y-%m-%d %H:%i:%s') like concat('%',#{condition,jdbcType=VARCHAR},'%') ||
  	 sys.item_name like concat('%',#{condition,jdbcType=VARCHAR},'%') 
  </select>
  <select id="selectAll" resultMap="projectMap">
  	select pro.*,sc.item_name as project_type_name,ss.item_name as project_status_name from project pro LEFT JOIN sys_code sc on pro.project_type=sc.sc_id LEFT JOIN sys_code ss on pro.project_status=ss.sc_id
  </select>
  <select id="selectProCharThByUserId" parameterType="java.lang.Integer" resultMap="ProCharThMap">
  select palsc.*,th.threshold_type,th.min_drastic_threshold_value,th.max_threshold_value,th.min_drastic_threshold_value,th.max_drastic_threshold_value from (
		(select pals.*,sc.detection_type_id,sc.detection_type_name,sc.table_name from (
			(select pal.*,sc.item_name from (
				(select COUNT(al.project_id) as al_count,prou.* from (
					(select pro.* from (project pro LEFT JOIN user_project up on pro.project_id=up.project_id) where up.user_id= #{userId,jdbcType=INTEGER}) prou
				LEFT JOIN alarm al on prou.project_id=al.project_id) GROUP BY prou.project_id) pal
			LEFT JOIN sys_code sc on pal.project_type=sc.sc_id)) pals
		LEFT JOIN statistic_chart sc on pals.project_id=sc.project_id)) palsc
  left join threshold th on palsc.project_id=th.project_id and palsc.detection_type_id=th.monitor_type and th.threshold_type=20)
  </select>
  <select id="selectProjectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select * from project pro left join user_project up on pro.project_id=up.project_id where up.user_id= #{userId,jdbcType=INTEGER}
  </select>
  <select id="getAllProject" resultMap="ProjectDetailMap" parameterType="com.zhongda.monitor.business.model.ProjectSelectCondition">
 		SELECT 
p.project_id, p.project_name, u.real_name as project_principal, p.project_begin_time, p.project_end_time,p.project_longitude,p.project_latitude,
 (SELECT sc.item_name from sys_code sc where sc.sc_id = p.project_type) as project_type_name, p.project_address as project_address,
p.weather_address as weather_address, p.project_description, (SELECT sc.item_name from  sys_code sc where sc.sc_id = p.project_status) as project_status_name,
(select COUNT(*) from alarm a where p.project_id =a.project_id and a.alarm_status=0) as al_count,  
(	select COUNT(*) from project pr,(SELECT sen.project_id as senproject_id  from sensor sen,project po  
	where sen.project_id =po.project_id GROUP BY  sen.smu_number,sen.project_id) a 
	where pr.project_id=p.project_id and a.senproject_id= pr.project_id) as project_sensor_number,
(SELECT COUNT(1) from sensor sen where sen.project_id =p.project_id )as project_smu_number
from project p,`user` u,user_project up where 1=1
	<if test="userId != 3">
	  and p.project_id in (SELECT up.project_id from user_project up where up.user_id=#{userId}) and u.user_id=up.user_id and p.project_id = up.project_id and u.user_id=#{userId}
	</if>
	<if test="userId == 3">
	and p.project_id = up.project_id and up.user_id=u.user_id
	</if>	
	</select>
	
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project
    where project_id = #{projectId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteProjects" parameterType="java.lang.String">
  	delete from project
  	where project_id in (#{projectIds,jdbcType=VARCHAR})
  </delete>
  <insert id="insert" parameterType="com.zhongda.monitor.business.model.Project">
    insert into project (project_id, project_name, project_type, 
      project_address, weather_address, project_longitude, 
      project_latitude, project_begin_time, project_end_time, 
      project_status, project_description)
    values (#{projectId,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{projectType,jdbcType=INTEGER}, 
      #{projectAddress,jdbcType=VARCHAR}, #{weatherAddress,jdbcType=VARCHAR}, #{projectLongitude,jdbcType=VARCHAR}, 
      #{projectLatitude,jdbcType=VARCHAR}, #{projectBeginTime,jdbcType=TIMESTAMP}, #{projectEndTime,jdbcType=TIMESTAMP}, 
      #{projectStatus,jdbcType=INTEGER}, #{projectDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhongda.monitor.business.model.Project" useGeneratedKeys="true" keyProperty="projectId">
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="projectType != null">
        project_type,
      </if>
      <if test="projectAddress != null">
        project_address,
      </if>
      <if test="weatherAddress != null">
        weather_address,
      </if>
      <if test="projectLongitude != null">
        project_longitude,
      </if>
      <if test="projectLatitude != null">
        project_latitude,
      </if>
      <if test="projectBeginTime != null">
        project_begin_time,
      </if>
      <if test="projectEndTime != null">
        project_end_time,
      </if>
      <if test="projectStatus != null">
        project_status,
      </if>
      <if test="projectDescription != null">
        project_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null">
        #{projectType,jdbcType=INTEGER},
      </if>
      <if test="projectAddress != null">
        #{projectAddress,jdbcType=VARCHAR},
      </if>
      <if test="weatherAddress != null">
        #{weatherAddress,jdbcType=VARCHAR},
      </if>
      <if test="projectLongitude != null">
        #{projectLongitude,jdbcType=VARCHAR},
      </if>
      <if test="projectLatitude != null">
        #{projectLatitude,jdbcType=VARCHAR},
      </if>
      <if test="projectBeginTime != null">
        #{projectBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectEndTime != null">
        #{projectEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectStatus != null">
        #{projectStatus,jdbcType=INTEGER},
      </if>
      <if test="projectDescription != null">
        #{projectDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongda.monitor.business.model.Project">
    update project
    <set>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null">
        project_type = #{projectType,jdbcType=INTEGER},
      </if>
      <if test="projectAddress != null">
        project_address = #{projectAddress,jdbcType=VARCHAR},
      </if>
      <if test="weatherAddress != null">
        weather_address = #{weatherAddress,jdbcType=VARCHAR},
      </if>
      <if test="projectLongitude != null">
        project_longitude = #{projectLongitude,jdbcType=VARCHAR},
      </if>
      <if test="projectLatitude != null">
        project_latitude = #{projectLatitude,jdbcType=VARCHAR},
      </if>
      <if test="projectBeginTime != null">
        project_begin_time = #{projectBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectEndTime != null">
        project_end_time = #{projectEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectStatus != null">
        project_status = #{projectStatus,jdbcType=INTEGER},
      </if>
      <if test="projectDescription != null">
        project_description = #{projectDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where project_id = #{projectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongda.monitor.business.model.Project">
    update project
    set project_name = #{projectName,jdbcType=VARCHAR},
      project_type = #{projectType,jdbcType=INTEGER},
      project_address = #{projectAddress,jdbcType=VARCHAR},
      weather_address = #{weatherAddress,jdbcType=VARCHAR},
      project_longitude = #{projectLongitude,jdbcType=VARCHAR},
      project_latitude = #{projectLatitude,jdbcType=VARCHAR},
      project_begin_time = #{projectBeginTime,jdbcType=TIMESTAMP},
      project_end_time = #{projectEndTime,jdbcType=TIMESTAMP},
      project_status = #{projectStatus,jdbcType=INTEGER},
      project_description = #{projectDescription,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=INTEGER}
  </update>
</mapper>