<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.monitor.business.mapper.StatisticChartMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.monitor.business.model.StatisticChart">
    <id column="statistic_chart_id" jdbcType="INTEGER" property="statisticChartId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="detection_type_id" jdbcType="INTEGER" property="detectionTypeId" />
    <result column="detection_type_name" jdbcType="VARCHAR" property="detectionTypeName" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="attributes" jdbcType="VARCHAR" property="attributes" />
    <result column="sensor_id" jdbcType="VARCHAR" property="sensorId" />
  </resultMap>
  <resultMap id="StatisticMap" type="com.zhongda.monitor.business.model.StatisticChart">
    	<result column="detection_type_id" jdbcType="INTEGER" property="monitorType" />
	    <result column="detection_type_name" jdbcType="VARCHAR" property="monitorTypeName" />
	    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
	    <collection property="sensorList" javaType="java.util.List" ofType="com.zhongda.monitor.business.model.Sensor" >
	    	<id column="sensor_id" jdbcType="INTEGER" property="sensorId" />
		    <result column="project_id" jdbcType="INTEGER" property="projectId" />
		    <result column="monitor_point" jdbcType="VARCHAR" property="monitorPoint" />
		    <result column="monitor_type" jdbcType="INTEGER" property="monitorType" />
		    <result column="sen_sensor_number" jdbcType="VARCHAR" property="sensorNumber" />
		    <result column="sen_smu_channel" jdbcType="VARCHAR" property="smuChannel" />
		    <result column="sen_smu_number" jdbcType="VARCHAR" property="smuNumber" />
		    <result column="sensor_number" jdbcType="VARCHAR" property="sensorNumber" />
		    <result column="sensor_type" jdbcType="VARCHAR" property="sensorType" />
		    <result column="sensor_model" jdbcType="VARCHAR" property="sensorModel" />
		    <result column="sensor_longitude" jdbcType="VARCHAR" property="sensorLongitude" />
		    <result column="sensor_latitude" jdbcType="VARCHAR" property="sensorLatitude" />
		    <result column="sensor_place" jdbcType="VARCHAR" property="sensorPlace" />
		    <result column="sensor_depth" jdbcType="REAL" property="sensorDepth" />
		    <association property="publicSensorData" javaType="com.zhongda.monitor.business.model.fictitious.PublicSensorData" >
		    	<id column="id" jdbcType="INTEGER" property="id" />
			    <result column="sensor_number" jdbcType="VARCHAR" property="sensorNumber" />
			    <result column="first_time" jdbcType="TIMESTAMP" property="firstTime" />
			    <result column="first_data" jdbcType="DOUBLE" property="firstData" />
			    <result column="previous_time" jdbcType="TIMESTAMP" property="previousTime" />
			    <result column="previous_data" jdbcType="DOUBLE" property="previousData" />
			    <result column="current_times" jdbcType="TIMESTAMP" property="currentTimes" />
			    <result column="current_data" jdbcType="DOUBLE" property="currentData" />
			    <result column="current_temperature" jdbcType="DOUBLE" property="currentTemperature" />
			    <result column="current_laser_change" jdbcType="DOUBLE" property="currentLaserChange" />
			    <result column="total_laser_change" jdbcType="DOUBLE" property="totalLaserChange" />
			    <result column="speed_change" jdbcType="DOUBLE" property="speedChange" />
			    <result column="sensor_status" jdbcType="INTEGER" property="sensorStatus" />
			    <result column="create_type" jdbcType="VARCHAR" property="createType" />
			    <result column="smu_number" jdbcType="VARCHAR" property="smuNumber" />
			    <result column="smu_channel" jdbcType="VARCHAR" property="smuChannel" />
			    <result column="smu_status" jdbcType="INTEGER" property="smuStatus" />
		    </association>
	    </collection>
  </resultMap>
  <resultMap id="AndroidSensorMap" type="com.zhongda.monitor.business.model.StatisticChart">
    	<result column="detection_type_id" jdbcType="INTEGER" property="monitorType" />
	    <result column="detection_type_name" jdbcType="VARCHAR" property="monitorTypeName" />
	    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
	    <collection property="sensorList" javaType="java.util.List" ofType="com.zhongda.monitor.business.model.Sensor" >
	    	<id column="sensor_id" jdbcType="INTEGER" property="sensorId" />
		    <result column="project_id" jdbcType="INTEGER" property="projectId" />
		    <result column="monitor_point" jdbcType="VARCHAR" property="monitorPoint" />
		    <result column="monitor_type" jdbcType="INTEGER" property="monitorType" />
		    <result column="sen_sensor_number" jdbcType="VARCHAR" property="sensorNumber" />
		    <result column="sen_smu_channel" jdbcType="VARCHAR" property="smuChannel" />
		    <result column="sen_smu_number" jdbcType="VARCHAR" property="smuNumber" />
		    <result column="sensor_number" jdbcType="VARCHAR" property="sensorNumber" />
		    <result column="sensor_type" jdbcType="VARCHAR" property="sensorType" />
		    <result column="sensor_model" jdbcType="VARCHAR" property="sensorModel" />
		    <result column="sensor_longitude" jdbcType="VARCHAR" property="sensorLongitude" />
		    <result column="sensor_latitude" jdbcType="VARCHAR" property="sensorLatitude" />
		    <result column="sensor_place" jdbcType="VARCHAR" property="sensorPlace" />
		    <result column="sensor_depth" jdbcType="REAL" property="sensorDepth" />
		    <result column="current_laser_change" jdbcType="DOUBLE" property="currentLaserChange" />
		    <result column="total_laser_change" jdbcType="DOUBLE" property="totalLaserChange" />
		    <result column="speed_change" jdbcType="DOUBLE" property="speedChange" />
	    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    statistic_chart_id, project_id, detection_type_id, detection_type_name, table_name, 
    attributes, sensor_id
  </sql>
  <select id="selectCountByproAndMT" resultType="java.lang.Integer">
  	SELECT count(*) FROM statistic_chart where project_id=#{projectId,jdbcType=INTEGER} and detection_type_id=#{detectionTypeId,jdbcType=INTEGER}
  </select>
  <select id="selectAndroidSensorData" statementType="CALLABLE" resultMap="AndroidSensorMap,AndroidSensorMap,AndroidSensorMap,AndroidSensorMap,AndroidSensorMap,AndroidSensorMap,AndroidSensorMap,AndroidSensorMap,AndroidSensorMap,AndroidSensorMap,AndroidSensorMap,AndroidSensorMap,AndroidSensorMap,AndroidSensorMap,AndroidSensorMap,AndroidSensorMap">
  	call select_sensor_p(#{projectId,jdbcType=INTEGER,mode=IN})
  </select>
  <select id="selectLastData" statementType="CALLABLE" resultMap="StatisticMap,StatisticMap,StatisticMap,StatisticMap,StatisticMap,StatisticMap,StatisticMap,StatisticMap,StatisticMap,StatisticMap,StatisticMap,StatisticMap,StatisticMap,StatisticMap,StatisticMap,StatisticMap,StatisticMap">
  	call select_sensor_p(#{projectId,jdbcType=INTEGER,mode=IN})
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from statistic_chart
    where statistic_chart_id = #{statisticChartId,jdbcType=INTEGER}
  </select>
  <select id="selectStatisCharByProjectId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select * from statistic_chart sc where sc.project_id= #{projectId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from statistic_chart
    where statistic_chart_id = #{statisticChartId,jdbcType=INTEGER}
  </delete>
   <delete id="deleteStatisChaByProAndMT" parameterType="java.lang.Integer">
  	delete from statistic_chart
    where project_id = #{projectId,jdbcType=INTEGER} and detection_type_id= #{monitorType,jdbcType=INTEGER}
   </delete>
  <insert id="insert" parameterType="com.zhongda.monitor.business.model.StatisticChart">
    insert into statistic_chart (statistic_chart_id, project_id, detection_type_id, 
      detection_type_name, table_name, attributes, 
      sensor_id)
    values (#{statisticChartId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{detectionTypeId,jdbcType=INTEGER}, 
      #{detectionTypeName,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{attributes,jdbcType=VARCHAR}, 
      #{sensorId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhongda.monitor.business.model.StatisticChart">
    insert into statistic_chart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="statisticChartId != null">
        statistic_chart_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="detectionTypeId != null">
        detection_type_id,
      </if>
      <if test="detectionTypeName != null">
        detection_type_name,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="attributes != null">
        attributes,
      </if>
      <if test="sensorId != null">
        sensor_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="statisticChartId != null">
        #{statisticChartId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="detectionTypeId != null">
        #{detectionTypeId,jdbcType=INTEGER},
      </if>
      <if test="detectionTypeName != null">
        #{detectionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="attributes != null">
        #{attributes,jdbcType=VARCHAR},
      </if>
      <if test="sensorId != null">
        #{sensorId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongda.monitor.business.model.StatisticChart">
    update statistic_chart
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="detectionTypeId != null">
        detection_type_id = #{detectionTypeId,jdbcType=INTEGER},
      </if>
      <if test="detectionTypeName != null">
        detection_type_name = #{detectionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="attributes != null">
        attributes = #{attributes,jdbcType=VARCHAR},
      </if>
      <if test="sensorId != null">
        sensor_id = #{sensorId,jdbcType=VARCHAR},
      </if>
    </set>
    where statistic_chart_id = #{statisticChartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongda.monitor.business.model.StatisticChart">
    update statistic_chart
    set project_id = #{projectId,jdbcType=INTEGER},
      detection_type_id = #{detectionTypeId,jdbcType=INTEGER},
      detection_type_name = #{detectionTypeName,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      attributes = #{attributes,jdbcType=VARCHAR},
      sensor_id = #{sensorId,jdbcType=VARCHAR}
    where statistic_chart_id = #{statisticChartId,jdbcType=INTEGER}
  </update>
  <select id="selectByPojoId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from statistic_chart
    where project_id = #{poJoId,jdbcType=INTEGER}
  </select>
</mapper>