<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>中大云平台后台管理系统</title>
<meta charset="utf-8" />
<!-- <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" /> -->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/bootstrap-table.css}" rel="stylesheet" type="text/css" />
<link type="text/css" th:href="@{/css/bootstrap-editable.css}" rel="stylesheet"/>
<!-- <link type="text/css" th:href="@{/css/bootstrapValidator.min.css}" rel="stylesheet"/> -->


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap-editable.js}"></script>
<script th:src="@{/js/bootstrap-table.js}"></script>
<script th:src="@{/js/bootstrap-table-editable.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-table-zh-CN.js}"></script>
</head>
<body>
	<div class="container-fluid">
	
	  <div class="row">
	  	<div class="page-header">
		  <h1>中大云平台后台管理系统 <small>ZhongDaYun</small></h1>
		</div>
	  </div>
	
	  <div class="row">
	  	<!-- 导航区 -->
		<ul id="myTab" class="nav nav-tabs" role="tablist">  
		  <li role="presentation" class="active"><a href="#projects" role="tab" data-toggle="tab">项目</a></li> 
		  <li role="presentation"><a href="#users" role="tab" data-toggle="tab">用户</a></li>
		  <button type="button" class="btn btn-success" data-toggle="modal" href="#addup" style="float: right;">添加</button>
		</ul>
		
		<!-- 面板区 -->  
		<div class="tab-content">  
		  <!-- 项目面板   -->
		 
		  <div role="tabpanel" class="tab-pane active" id="projects">
		  	 	<div class="table-responsive">
				  <table id="projectTable">
				  </table>
				</div>
		  </div>
		  
		  <!-- 用户面板   -->
		  <div role="tabpanel" class="tab-pane" id="users">
	  		  <table class="table table-condensed table-hover table-bordered">
			    <thead>
					<tr>
						<th class="hidden">ID</th>
						<th>用户名</th>
						<th>查看项目</th>
						<th>密码</th>
						<th>电话</th>
						<th>邮箱</th>
						<th>公司</th>
						<th>负责人</th>
						<th>创建时间</th>
						<th>用户状态</th>
						<th>选择</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="us : ${userList}">
							<th th:text="${us.userId}" class="hidden"></th>
							<td th:text="${us.userName}" class="usertd"></td>
							<td>
								<a tabindex="0" class="btn btn-lg btn-danger userpover" role="button" data-toggle="popover" data-trigger="focus" title="该用户下的所有项目:"  data-content="">查看项目</a>
							</td>
							<td th:text="${us.password}" class="usertd"></td>
							<td th:text="${us.phone}" class="usertd"></td>
							<td th:text="${us.email}" class="usertd"></td>
							<td th:text="${us.company}" class="usertd"></td>
							<td th:text="${us.realName}" class="usertd"></td>
							<td class="usertd" th:text="${us.createTime}? ${#dates.format(us.createTime, 'yyyy-MM-dd HH:mm:ss')} : ${us.createTime}
							"></td>
							<td th:text="${us.status}" class="usertd"></td>
							<td><input type="checkbox" class="userForWait"/></td>
						</tr>
				</tbody>
			  </table>
		  </div>
		    
		    
		</div>
	  	
	  </div>

		<!--project Large modal -->
		<div id="projetModels" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog " role="document">
		    <div class="modal-content">
		    	<ul id="ulproject" class="nav nav-tabs" role="tablist">  
				  <li role="presentation" class="active"><a href="#sensorinfo" role="tab" data-toggle="tab">传感器信息</a></li> 
				  <li role="presentation"><a href="#addSensor" role="tab" data-toggle="tab">添加传感器</a></li>  
				</ul>
				
				<div class="tab-content"> 
				
					<!-- 修改项目信息 -->
					<div role="tabpanel" class="tab-pane active" id="sensorinfo">
					
					  <div class="modal-header">
				        <h4 class="modal-title" id="exampleModalLabel">项目名称</h4>
				      </div>
				      
				      <div class="modal-body">
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">Recipient:</label>
				            <input type="text" class="form-control"  />
				          </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Send message</button>
				      </div>
					</div>
				
					<!-- 传感器信息面板 -->
					<div role="tabpanel" class="tab-pane active" id="sensorinfo">
					
					  <div class="modal-header">
				        <h4 class="modal-title" id="exampleModalLabel">项目名称</h4>
				      </div>
				      
				      <div class="modal-body">
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">Recipient:</label>
				            <input type="text" class="form-control"  />
				          </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Send message</button>
				      </div>
					</div>
					
					<!-- 添加传感器面板 -->
					<div role="tabpanel" class="tab-pane" id="addSensor">
						
					  <div class="modal-header">
				        <h4 class="modal-title" id="exampleModalLabel">项目名称</h4>
				      </div> 
				      <div class="modal-body">
				      <form id="addSensorModal" action="/manage/landing">
				      	<div class="form-group">
				            <input type="hidden" class="form-control"  name="sensor_projectId"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">测点名称：</label>
				            <input type="text" class="form-control"  name="monitorPoint"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">检测指标:</label>
				            <select class="form-control" name="monitorType">
							  <option value="1">1</option>
							  <option value="2">2</option>
							  <option value="3">3</option>
							  <option value="4">4</option>
							  <option value="5">5</option>
							</select>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">采集器编号:</label>
				            <input type="text" class="form-control"  name="smuNumber"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">采集器通道:</label>
				            <input type="text" class="form-control"  name="smuChannel"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">传感器编号:</label>
				            <input type="text" class="form-control"  name="sensorNumber"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">传感器类型:</label>
				            <input type="text" class="form-control"  name="sensorType"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">传感器型号:</label>
				            <input type="text" class="form-control"  name="sensorModel"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">经度:</label>
				            <input type="text" class="form-control"  name="sensorLongitude"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">纬度:</label>
				            <input type="text" class="form-control"  name="sensorLatitude"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">传感器地点(可为空):</label>
				            <input type="text" class="form-control"  name="sensorPlace"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">传感器深度(可为空):</label>
				            <input type="text" class="form-control"  name="sensorDepth"/>
				          </div>
				      </form>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				        <button type="button" class="btn btn-primary" id="addSensorButton">添加传感器</button>
				      </div>
				      </div>
					</div>
				</div>
		    </div>
		  </div>
		</div>
	  <!--project Large modal -->

	   <!--user Large modal -->
		<button type="button" id="userModel" data-toggle="modal" href="#userModels" style="display: none;"></button>

		<div id="userModels" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      ...
		    </div>
		  </div>
		</div>
	  <!--user Large modal -->
	  
	  <!-- 添加 -->
	  	<div id="addup" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog " role="document">
		  
		    
		  <!-- 面板 -->
		    <div class="modal-content">
		    
		   		<ul id="adduserproject" class="nav nav-tabs" role="tablist">  
				  <li role="presentation" class="active"><a href="#addprojects" role="tab" data-toggle="tab">项目</a></li> 
				  <li role="presentation"><a href="#addusers" role="tab" data-toggle="tab">用户</a></li>  
				</ul>
				
				<div class="tab-content">  
				  <!-- 项目添加面板   -->
				  <div role="tabpanel" class="tab-pane active" id="addprojects">
				      
				      <div class="modal-body">
				        <form action="/manage/landing" id="addProjectModal">
				          <div class="form-group">
				            <label for="recipient-name" class="control-label" >项目名称:</label>
				            <input type="text" class="form-control"  name="projectName"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">项目类型:</label>
				            <select class="form-control" name="projectType" >
							  <option th:each="protype : ${proType}" th:value="${protype.scId}" th:text="${protype.itemName}" ></option>
							</select>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">项目地点:</label>
				            <input type="text" class="form-control"  name="projectAddress"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">天气地点:</label>
				            <input type="text" class="form-control"  name="weatherAddress"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">经度:</label>
				            <input type="text" class="form-control"  name="projectLongitude"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">纬度:</label>
				            <input type="text" class="form-control" name="projectLatitude"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">项目开始时间:</label>
				            <input type="date" class="form-control"  name="projectBeginTime"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">项目结束时间:</label>
				            <input type="date" class="form-control"  name="projectEndTime"/>
				          </div>
				          <div class="form-group" id="prostatusradios">
				            <label for="recipient-name" class="control-label">项目状态:</label>
				            <label class="radio-inline" th:each="proStatus : ${proStatus}" >
							  <input type="radio" name="inlineRadioOptions" th:value="${proStatus.scId}" th:text="${proStatus.itemName}" checked="checked"/>
							</label>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">项目描述:</label>
				            <textarea class="form-control" rows="3" name="projectDescription"></textarea>
				          </div>
				        </form>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" id="addProjectButton">添加</button>
					        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					      </div>
				      </div>
				      
				  </div>
				  
				  <!-- 用户添加面板   -->
				  <div role="tabpanel" class="tab-pane" id="addusers">
			  			<div class="modal-body">
				        <form action="/manage/landing" id="addUserModal">
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">用户名:</label>
				            <input type="text" class="form-control"  name="userName"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">密码:</label>
				            <input type="password" class="form-control"  name="password"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">电话:</label>
				            <input type="text" class="form-control"  name="phone"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">邮箱:</label>
				            <input type="text" class="form-control"  name="email"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">公司:</label>
				            <input type="text" class="form-control"  name="company"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">负责人:</label>
				            <input type="text" class="form-control"  name="realName"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">用户状态:</label>
				             <label class="radio-inline">
							  <input type="radio" name="inlineRadioOptionsUser" id="inlineRadio1" value="正常" checked="checked" />正常
							</label>
							<label class="radio-inline">
							  <input type="radio" name="inlineRadioOptionsUser" id="inlineRadio2" value="冻结" /> 冻结
							</label>
				          </div>
				        </form>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" id="addUserButton">添加</button>
					        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					      </div>
				      </div>
				  </div>
					
			    </div>
			    
		  </div>
		</div>
	  </div>
	  <!-- 添加 -->
	</div>
</body>

<script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}"></script>
<script th:inline="javascript">
	var pUser=[[${pUser}]];
	var uPro=[[${uPro}]];
	var projectType=[[${proType}]];
	var projectStatus=[[${proStatus}]];
</script>
<script type="text/javascript"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/table.js}"></script>
</html>