<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>中大云平台后台管理系统</title>
<meta charset="utf-8" />
<!-- <link th:href="@{/management/css/index.css}" rel="stylesheet" type="text/css" /> -->
<link th:href="@{/management/css/bootstrap.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/management/css/bootstrap-table.css}" rel="stylesheet" type="text/css" />
<link type="text/css" th:href="@{/management/css/bootstrap-editable.css}" rel="stylesheet"/>
<link type="text/css" th:href="@{/management/css/bootstrap-datetimepicker.css}" rel="stylesheet"/>
<link type="text/css" th:href="@{/management/css/sweetalert.css}" rel="stylesheet"/>
<!-- <link type="text/css" th:href="@{/management/css/bootstrapValidator.min.css}" rel="stylesheet"/> -->


<script th:src="@{/management/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/management/js/bootstrap-table.js}"></script>
<script th:src="@{/management/js/bootstrap.min.js}"></script>
<script th:src="@{/management/js/bootstrap-editable.js}"></script>
<script th:src="@{/management/js/bootstrap-datetimepicker.js}"></script>
<script th:src="@{/management/js/bootstrap-datetimepicker.zh-CN.js}"></script>
<script th:src="@{/management/js/bootstrap-table-editable.js}"></script>
<script th:src="@{/management/js/bootstrap-table-zh-CN.js}"></script>
</head>
<body>
	<div class="container-fluid">
	<!-- 自定义toolbar -->
	<form class="form-inline" id="divmonitorType" style="display:none">
	  <div class="form-group">
	    <select  class="form-control"  id="selectmonitorType">
		  <option>所有</option>
	    </select>
	  </div>
	  <button id="enableSensor" class="btn btn-default" onclick="enableSensors()" type="button">编辑</button>
	</form>
	<button id="enableproject" class="btn btn-default" onclick="enableProject()">编辑</button>
	<button id="enableuser" class="btn btn-default" onclick="enableuser()">编辑</button>
	<!-- 数据查询toolbar -->
	<form class="form-inline" id="divsensorDataquery">
	  <div class="form-group col-xs-3">
	    <select class="form-control" id="s_tableName" >
		  <option  th:each="monitorTypes : ${monitorType}"  th:value="${monitorTypes.scId}" th:text="${monitorTypes.itemName}" ></option>
		</select>
	  </div>
	  <div class="form-group col-xs-3">
	    <input type="text" class="form-control" id="s_sensorNumber"  placeholder="传感器编号"/>
	  </div>
	  <div class="form-group col-xs-3">
	    <input type="text" class="form-control" id="s_smuNumber"  placeholder="终端编号"/>
	  </div>
	  <div class="form-group col-xs-3">
	    <input type="text" class="form-control" id="s_smuChannel"  placeholder="传感器通道"/>
	  </div>
	  <div class="form-group col-xs-3">
	    <input type="text" class="form-control" id="beginTimes" readonly="" placeholder="起始时间"/>
	  </div>
	  <div class="form-group col-xs-3">
	    <input type="text" class="form-control" id="endTimes" readonly="" placeholder="结束时间" />
	  </div>
	  <div class="form-group col-xs-3">
	    <input type="button" class="btn btn-info" onclick="querySensotData()" value="查询" />
	  </div>
	</form>
	  
	  <div class="row">
	  	<div class="page-header">
		  <h1>中大云平台后台管理系统 <small>ZhongDaYun</small></h1>
		</div>
	  </div>
	
	  <div class="row">
	  	<!-- 导航区 -->
		<ul id="myTab" class="nav nav-tabs" role="tablist">  
		  <li role="presentation" class="active"><a href="#projects" role="tab" data-toggle="tab">项目</a></li> 
		  <li role="presentation"><a href="#users" id="userLiclick" role="tab" data-toggle="tab">用户</a></li>
		  <li role="presentation"><a href="#sensordata"  role="tab" data-toggle="tab">查询传感器数据</a></li>
		  <li role="presentation"><a href="#up_firstData"  role="tab" data-toggle="tab">修改第一次数据</a></li>
		  <button type="button" class="btn btn-success" data-toggle="modal" href="#addup" style="float: right;">添加</button>
		</ul>
		
		<!-- 面板区 -->  
		<div class="tab-content">  
		  <!-- 项目面板   -->
		  <div role="tabpanel" class="tab-pane active" id="projects">
		 	<div class="modal-body">
		  	 	<!-- <div class="table-responsive"> -->
				  <table id="projectTable" >
				  </table>
				<!-- </div> -->
			</div>
		  </div>
		 
		  
		  <!-- 用户面板   -->
		  <div role="tabpanel" class="tab-pane" id="users">
		  		
	  		  <div class="modal-body">
		  	 	<!-- <div class="table-responsive"> -->
				  <table id="userTable">
				  </table>
				<!-- </div> -->
			</div>
		  </div>
		  
		  <!-- 查询传感器信息 -->
		  <div role="tabpanel" class="tab-pane" id="sensordata">
	  		  <div class="modal-body">
	  		  	<table id="querySensorDataTable">
				  </table>
			  </div>
		  </div>
		  
		  <!-- 修改第一次数据 -->
		  <div role="tabpanel" class="tab-pane" id="up_firstData">
		  	<div class="modal-dialog" role="document">
	  		  <div class="modal-body">
	  		  		<form>
	  		  			<div class="form-group " >
	  		  				<label for="recipient-name" class="control-label">检测指标：</label>
						    <select class="form-control" id="up_tableName" >
						      <option id="one"></option>
							  <option  th:each="monitorTypes : ${monitorType}"  th:value="${monitorTypes.scId}" th:text="${monitorTypes.itemName}" ></option>
							</select>
							<label id="up_mo_error"  for="recipient-name" class="control-label" style="color: red;display:block">此检测指标无相关表，请联系相关人员建立表！</label>
						 </div>
				         <div class="form-group">
				            <label for="recipient-name" class="control-label">终端编号：</label>
				            <select class="form-control" id="up_smuNumber" >
							</select>
				         </div>
				      	 <div class="form-group">
				            <label for="recipient-name" class="control-label">传感器编号：</label>
				            <input type="text" class="form-control" id="up_sensorNumber" disabled=""  />
				         </div>
				         <div class="form-group">
				            <label for="recipient-name" class="control-label">起始时间：</label>
				            <input type="text" class="form-control" id="up_beginTimes" readonly="" />
				         </div>
				         <div class="form-group">
				            <label for="recipient-name" class="control-label">结束时间：</label>
				            <input type="text" class="form-control" id="up_endTimes" readonly=""  />
				         </div>
				    </form>
			  </div>
			  <div class="modal-footer">
		        <input type="button" class="btn btn-info" onclick="up_firstdata()" value="修改" id="updata_" disabled="disabled" />
		      </div>
		     </div>
		  </div>
		    
		</div>
	  	
	  </div>

		<!--project Large modal -->
		<div id="projetModels" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		    	<ul id="ulproject" class="nav nav-tabs" role="tablist">  
				  <li role="presentation" class="active"><a href="#sensorinfo" id="sensorinfotable" role="tab" data-toggle="tab">传感器信息</a></li> 
				  <li role="presentation"><a href="#addSensor" role="tab" data-toggle="tab">添加传感器</a></li>  
				</ul>
				
				<div class="tab-content"> 
				
					<!-- 传感器信息面板 -->
					<div role="tabpanel" class="tab-pane active" id="sensorinfo">
					  <div class="modal-header">
			  				<h4 id="ps_info" class="modal-title" name="projsenName"></h4>
				      </div>
				      <div class="modal-body">
				          <table id="sensorTable" class="text-nowrap" >
				  		  </table>
				      </div>
					</div>
					
					<!-- 添加传感器面板 -->
					<div role="tabpanel" class="tab-pane" id="addSensor">
						
					  <div class="modal-header">
				        <h4 class="modal-title" name="projsenName"></h4>
				      </div> 
				      <div class="modal-body">
				      <form id="addSensorModal" action="/manage/landing">
				      	  <div class="form-group" hidden="true">
				            <label for="recipient-name" class="control-label">项目Id：</label>
				            <input type="text" class="form-control" id="sensorProId" name="projectId"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">测点名称：</label>
				            <input type="text" class="form-control"  name="monitorPoint"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">检测指标:</label>
				            <select class="form-control" name="sensorMonitorType" >
							  <option  th:each="monitorTypes : ${monitorType}"  th:value="${monitorTypes.scId}" th:text="${monitorTypes.itemName}" ></option>
							</select>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">采集器编号:</label>
				            <input type="text" class="form-control"  name="smuNumber"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">采集器通道:</label>
				            <input type="text" class="form-control"  name="smuChannel"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">传感器编号:</label>
				            <input type="text" class="form-control"  name="sensorNumber"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">传感器类型:</label>
				            <input type="text" class="form-control"  name="sensorType"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">传感器型号:</label>
				            <input type="text" class="form-control"  name="sensorModel"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">经度:</label>
				            <input type="text" class="form-control"  name="sensorLongitude"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">纬度:</label>
				            <input type="text" class="form-control"  name="sensorLatitude"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">传感器地点(可为空):</label>
				            <input type="text" class="form-control"  name="sensorPlace"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">传感器深度(可为空):</label>
				            <input type="text" class="form-control"  name="sensorDepth"/>
				          </div>
				          <div class="form-group" id="provdtcheckbox">
				            <label for="recipient-name" class="control-label">数据展示类型:</label>
				            <label class="checkbox-inline" th:each="vdts : ${vdt}">
							  <input type="checkbox" name="vdtCheckbox" th:value="${vdts}" th:text="${vdts}" checked="checked" /> 
							</label>
				          </div>
				      </form>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-primary" id="addSensorButton">添加</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				      </div>
				      </div>
					</div>
				</div>
		    </div>
		  </div>
		</div>
	  <!--project Large modal -->

	   <!--user Large modal -->
		<button type="button" id="userModel" data-toggle="modal" href="#userModels" style="display: none;"></button>

		<div id="userModels" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      ...
		    </div>
		  </div>
		</div>
	  <!--user Large modal -->
	  
	  <!-- 添加 -->
	  	<div id="addup" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog " role="document">
		  
		    
		  <!-- 面板 -->
		    <div class="modal-content">
		    
		   		<ul id="adduserproject" class="nav nav-tabs" role="tablist">  
				  <li role="presentation" class="active"><a href="#addprojects" role="tab" data-toggle="tab">项目</a></li> 
				  <li role="presentation"><a href="#addusers" role="tab" data-toggle="tab">用户</a></li>  
				</ul>
				
				<div class="tab-content">  
				  <!-- 项目添加面板   -->
				  <div role="tabpanel" class="tab-pane active" id="addprojects">
				      
				      <div class="modal-body">
				        <form action="/manage/landing" id="addProjectModal">
				          <div class="form-group">
				            <label for="recipient-name" class="control-label" >项目名称:</label>
				            <input type="text" class="form-control"  name="projectName"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">项目类型:</label>
				            <select class="form-control" name="projectType" >
							  <option th:each="protype : ${proType}" th:value="${protype.scId}" th:text="${protype.itemName}" ></option>
							</select>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">项目地点:</label>
				            <input type="text" class="form-control"  name="projectAddress"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">天气地点:</label>
				            <input type="text" class="form-control"  name="weatherAddress"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">经度:</label>
				            <input type="text" class="form-control"  name="projectLongitude"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">纬度:</label>
				            <input type="text" class="form-control" name="projectLatitude"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">项目开始时间:</label>
				            <input type="date" class="form-control"  name="projectBeginTime"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">项目结束时间:</label>
				            <input type="date" class="form-control"  name="projectEndTime"/>
				          </div>
				          <div class="form-group" id="prostatusradios">
				            <label for="recipient-name" class="control-label">项目状态:</label>
				            <label class="radio-inline" th:each="proStatus : ${proStatus}" >
							  <input type="radio" name="inlineRadioOptions" th:value="${proStatus.scId}" th:text="${proStatus.itemName}" checked="checked"/>
							</label>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">项目描述:</label>
				            <textarea class="form-control" rows="3" name="projectDescription"></textarea>
				          </div>
				        </form>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" id="addProjectButton">添加</button>
					        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					      </div>
				      </div>
				      
				  </div>
				  
				  <!-- 用户添加面板   -->
				  <div role="tabpanel" class="tab-pane" id="addusers">
			  			<div class="modal-body">
				        <form action="/manage/landing" id="addUserModal">
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">用户名:</label>
				            <input type="text" class="form-control"  name="userName"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">密码:</label>
				            <input type="password" class="form-control"  name="password"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">电话:</label>
				            <input type="text" class="form-control"  name="phone"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">邮箱:</label>
				            <input type="text" class="form-control"  name="email"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">公司:</label>
				            <input type="text" class="form-control"  name="company"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">负责人:</label>
				            <input type="text" class="form-control"  name="realName"/>
				          </div>
				          <div class="form-group">
				            <label for="recipient-name" class="control-label">用户状态:</label>
				             <label class="radio-inline">
							  <input type="radio" name="inlineRadioOptionsUser" id="inlineRadio1" value="正常" checked="checked" />正常
							</label>
							<label class="radio-inline">
							  <input type="radio" name="inlineRadioOptionsUser" id="inlineRadio2" value="冻结" /> 冻结
							</label>
				          </div>
				        </form>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" id="addUserButton">添加</button>
					        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					      </div>
				      </div>
				  </div>
					
			    </div>
			    
		  </div>
		</div>
	  </div>
	  <!-- 添加 -->
	</div>
</body>

<script type="text/javascript" th:src="@{/management/js/bootstrapValidator.min.js}"></script>
<script th:inline="javascript">
	var pUser=[[${pUser}]];
	var uPro=[[${uPro}]];
	var projectType=[[${proType}]];
	var projectStatus=[[${proStatus}]];
	var senMT=[[${monitorType}]];
</script>
<script th:src="@{/management/js/sweetalert.min.js}"></script>
<script type="text/javascript"></script>
<script th:src="@{/management/js/validator.js}"></script>
<script th:src="@{/management/js/table.js}"></script>
</html>